$tagColor: #aaa !default;
$tagColorActive: #555 !default;
$tagBgColor: #eb1e1e !default;
$tagFontSize: 1rem !default;
 
$editorBorder: #ccc !default;
$editorBorderActive: #808080 !default;
 
$placeholderColor: #777 !default;
 
$pink: #f2c9c9 !default;
$crimson: #5c0909 !default;