.rules .ant-form-item-label > label::after{
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}
.rules .ant-form-item-required::before {

    content: none;
}
.normal-rules .ant-form-item-label > label::after{
    content: none;
}
.org-detail-card{
    width: 100%;
}